[user]
	 email = bertrandndobegang.atemkeng@cgi.com
	 name = bertrandndobegang
		# email = atemndobs@yahoo.com
    	# name = Atemndobs
    	#  usernames = atemndobs@yahoo.com
    	#  password = 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
[credential]
	helper = store
